In [2]:
import talib as ta
import numpy as np
import pandas as pd
ta.get_functions()

['HT_DCPERIOD',
 'HT_DCPHASE',
 'HT_PHASOR',
 'HT_SINE',
 'HT_TRENDMODE',
 'ADD',
 'DIV',
 'MAX',
 'MAXINDEX',
 'MIN',
 'MININDEX',
 'MINMAX',
 'MINMAXINDEX',
 'MULT',
 'SUB',
 'SUM',
 'ACOS',
 'ASIN',
 'ATAN',
 'CEIL',
 'COS',
 'COSH',
 'EXP',
 'FLOOR',
 'LN',
 'LOG10',
 'SIN',
 'SINH',
 'SQRT',
 'TAN',
 'TANH',
 'ADX',
 'ADXR',
 'APO',
 'AROON',
 'AROONOSC',
 'BOP',
 'CCI',
 'CMO',
 'DX',
 'MACD',
 'MACDEXT',
 'MACDFIX',
 'MFI',
 'MINUS_DI',
 'MINUS_DM',
 'MOM',
 'PLUS_DI',
 'PLUS_DM',
 'PPO',
 'ROC',
 'ROCP',
 'ROCR',
 'ROCR100',
 'RSI',
 'STOCH',
 'STOCHF',
 'STOCHRSI',
 'TRIX',
 'ULTOSC',
 'WILLR',
 'BBANDS',
 'DEMA',
 'EMA',
 'HT_TRENDLINE',
 'KAMA',
 'MA',
 'MAMA',
 'MAVP',
 'MIDPOINT',
 'MIDPRICE',
 'SAR',
 'SAREXT',
 'SMA',
 'T3',
 'TEMA',
 'TRIMA',
 'WMA',
 'CDL2CROWS',
 'CDL3BLACKCROWS',
 'CDL3INSIDE',
 'CDL3LINESTRIKE',
 'CDL3OUTSIDE',
 'CDL3STARSINSOUTH',
 'CDL3WHITESOLDIERS',
 'CDLABANDONEDBABY',
 'CDLADVANCEBLOCK',
 'CDLBELTHOLD',
 'CDLBREAKAWAY',
 'CDLCLOSINGMARUBOZU',
 'CDLCONCEALBABYSWALL',
 'CDLCOUNTERATTACK',
 'CDLDARKCLOUDCOVER',
 'CDLDOJI',
 'CDLDOJISTAR',
 'CDLDRAGONFLYDOJI',
 'CDLENGULFING',
 'CDLEVENINGDOJISTAR',
 'CDLEVENINGSTAR',
 'CDLGAPSIDESIDEWHITE',
 'CDLGRAVESTONEDOJI',
 'CDLHAMMER',
 'CDLHANGINGMAN',
 'CDLHARAMI',
 'CDLHARAMICROSS',
 'CDLHIGHWAVE',
 'CDLHIKKAKE',
 'CDLHIKKAKEMOD',
 'CDLHOMINGPIGEON',
 'CDLIDENTICAL3CROWS',
 'CDLINNECK',
 'CDLINVERTEDHAMMER',
 'CDLKICKING',
 'CDLKICKINGBYLENGTH',
 'CDLLADDERBOTTOM',
 'CDLLONGLEGGEDDOJI',
 'CDLLONGLINE',
 'CDLMARUBOZU',
 'CDLMATCHINGLOW',
 'CDLMATHOLD',
 'CDLMORNINGDOJISTAR',
 'CDLMORNINGSTAR',
 'CDLONNECK',
 'CDLPIERCING',
 'CDLRICKSHAWMAN',
 'CDLRISEFALL3METHODS',
 'CDLSEPARATINGLINES',
 'CDLSHOOTINGSTAR',
 'CDLSHORTLINE',
 'CDLSPINNINGTOP',
 'CDLSTALLEDPATTERN',
 'CDLSTICKSANDWICH',
 'CDLTAKURI',
 'CDLTASUKIGAP',
 'CDLTHRUSTING',
 'CDLTRISTAR',
 'CDLUNIQUE3RIVER',
 'CDLUPSIDEGAP2CROWS',
 'CDLXSIDEGAP3METHODS',
 'AVGPRICE',
 'MEDPRICE',
 'TYPPRICE',
 'WCLPRICE',
 'BETA',
 'CORREL',
 'LINEARREG',
 'LINEARREG_ANGLE',
 'LINEARREG_INTERCEPT',
 'LINEARREG_SLOPE',
 'STDDEV',
 'TSF',
 'VAR',
 'ATR',
 'NATR',
 'TRANGE',
 'AD',
 'ADOSC',
 'OBV']

In [2]:
vnou_stock = pd.read_csv('./루닛 주식 데이터.csv', encoding='euc-kr')
vnou_stock.head()

      종목코드 종목명        날짜    시간       시가       고가       저가       종가        거래량
0  A328130  루닛  20220722  1530  40400.0  40400.0  40400.0  40400.0  4013435.0
1  A328130  루닛  20220722  1520  40300.0  40400.0  40200.0  40350.0  4013435.0
2  A328130  루닛  20220722  1519  40500.0  40500.0  40250.0  40300.0  4003198.0
3  A328130  루닛  20220722  1518  40450.0  40500.0  40400.0  40500.0  3994686.0
4  A328130  루닛  20220722  1517  40450.0  40450.0  40350.0  40450.0  3991932.0

In [3]:
from talib.abstract import *

In [4]:
# 이동평균선 구하기

vnou_stock['ma_5'] = ta.SMA(np.asarray(vnou_stock['종가']), 5)
vnou_stock['ma_20'] = ta.SMA(np.asarray(vnou_stock['종가']), 20)
vnou_stock['ma_60'] = ta.SMA(np.asarray(vnou_stock['종가']), 60)
vnou_stock['ema_12'] = ta.EMA(np.asarray(vnou_stock['종가']), 12)
vnou_stock['ema_26'] = ta.EMA(np.asarray(vnou_stock['종가']), 26)

vnou_stock

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,ma_5,ma_20,ma_60,ema_12,ema_26
0,A328130,루닛,20220722,1530,40400.0,40400.0,40400.0,40400.0,4013435.0,NaN,NaN,NaN,NaN,NaN
1,A328130,루닛,20220722,1520,40300.0,40400.0,40200.0,40350.0,4013435.0,NaN,NaN,NaN,NaN,NaN
2,A328130,루닛,20220722,1519,40500.0,40500.0,40250.0,40300.0,4003198.0,NaN,NaN,NaN,NaN,NaN
3,A328130,루닛,20220722,1518,40450.0,40500.0,40400.0,40500.0,3994686.0,NaN,NaN,NaN,NaN,NaN
4,A328130,루닛,20220722,1517,40450.0,40450.0,40350.0,40450.0,3991932.0,40400.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83752,A328130,루닛,20230622,905,130400.0,131500.0,130400.0,131400.0,32336.0,131400.0,130910.0,129883.333333,130945.648184,130646.980552
83753,A328130,루닛,20230622,904,130600.0,131000.0,130300.0,130400.0,30630.0,131380.0,130870.0,129895.000000,130861.702309,130628.685696
83754,A328130,루닛,20230622,903,130900.0,132600.0,130600.0,130700.0,25175.0,131340.0,130850.0,129915.000000,130836.825031,130633.968237
83755,A328130,루닛,20230622,902,132000.0,132000.0,130300.0,130800.0,20406.0,131140.0,130830.0,129931.666667,130831.159642,130646.266886
83756,A328130,루닛,20230622,901,132300.0,132400.0,131000.0,131700.0,7170.0,131000.0,130815.0,129968.333333,130964.827389,130724.321191

In [5]:
# 볼린저 밴드 구하기 
upper, middle, lower = ta.BBANDS(np.asarray(vnou_stock['종가']), timeperiod=20, nbdevup=2, nbdevdn=2, matype=0)
vnou_stock['dn'] = lower # 볼린저밴드 하한값
vnou_stock['mavg'] = middle # 볼린저밴드 평균값
vnou_stock['up'] = upper # 볼린저밴드 상한값
vnou_stock['pctB'] = (vnou_stock['종가'] + vnou_stock.dn)/(vnou_stock.up - vnou_stock.dn)

vnou_stock

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,ma_5,ma_20,ma_60,ema_12,ema_26,dn,mavg,up,pctB
0,A328130,루닛,20220722,1530,40400.0,40400.0,40400.0,40400.0,4013435.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A328130,루닛,20220722,1520,40300.0,40400.0,40200.0,40350.0,4013435.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A328130,루닛,20220722,1519,40500.0,40500.0,40250.0,40300.0,4003198.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A328130,루닛,20220722,1518,40450.0,40500.0,40400.0,40500.0,3994686.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A328130,루닛,20220722,1517,40450.0,40450.0,40350.0,40450.0,3991932.0,40400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83752,A328130,루닛,20230622,905,130400.0,131500.0,130400.0,131400.0,32336.0,131400.0,130910.0,129883.333333,130945.648184,130646.980552,129180.375763,130910.0,132639.624237,75.328609
83753,A328130,루닛,20230622,904,130600.0,131000.0,130300.0,130400.0,30630.0,131380.0,130870.0,129895.000000,130861.702309,130628.685696,129132.070197,130870.0,132607.929803,74.667018
83754,A328130,루닛,20230622,903,130900.0,132600.0,130600.0,130700.0,25175.0,131340.0,130850.0,129915.000000,130836.825031,130633.968237,129113.912445,130850.0,132586.087555,74.827422
83755,A328130,루닛,20230622,902,132000.0,132000.0,130300.0,130800.0,20406.0,131140.0,130830.0,129931.666667,130831.159642,130646.266886,129101.301067,130830.0,132558.698933,75.172517
83756,A328130,루닛,20230622,901,132300.0,132400.0,131000.0,131700.0,7170.0,131000.0,130815.0,129968.333333,130964.827389,130724.321191,129122.339372,130815.0,132507.660628,77.045078

In [6]:
# 상대체결강도 RSI 구하기  14
rsi14 = ta.RSI(np.asarray(vnou_stock['종가']), 14)
vnou_stock['rsi_14'] = rsi14 # rsi14 값

In [7]:
# MACD 구하기 이동평균수렴발산
macd, macdsignal, macdhist = ta.MACD(np.asarray(vnou_stock['종가']), 12,26,9) # 12(단기)/26(장기)/9(signal)
vnou_stock['macd'] = macd
vnou_stock['macdsignal'] = macdsignal

In [8]:
vnou_stock

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,ma_5,...,ma_60,ema_12,ema_26,dn,mavg,up,pctB,rsi_14,macd,macdsignal
0,A328130,루닛,20220722,1530,40400.0,40400.0,40400.0,40400.0,4013435.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A328130,루닛,20220722,1520,40300.0,40400.0,40200.0,40350.0,4013435.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A328130,루닛,20220722,1519,40500.0,40500.0,40250.0,40300.0,4003198.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A328130,루닛,20220722,1518,40450.0,40500.0,40400.0,40500.0,3994686.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A328130,루닛,20220722,1517,40450.0,40450.0,40350.0,40450.0,3991932.0,40400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83752,A328130,루닛,20230622,905,130400.0,131500.0,130400.0,131400.0,32336.0,131400.0,...,129883.333333,130945.648184,130646.980552,129180.375763,130910.0,132639.624237,75.328609,55.873847,298.667632,187.949773
83753,A328130,루닛,20230622,904,130600.0,131000.0,130300.0,130400.0,30630.0,131380.0,...,129895.000000,130861.702309,130628.685696,129132.070197,130870.0,132607.929803,74.667018,48.465717,233.016613,196.963141
83754,A328130,루닛,20230622,903,130900.0,132600.0,130600.0,130700.0,25175.0,131340.0,...,129915.000000,130836.825031,130633.968237,129113.912445,130850.0,132586.087555,74.827422,50.582548,202.856794,198.141872
83755,A328130,루닛,20230622,902,132000.0,132000.0,130300.0,130800.0,20406.0,131140.0,...,129931.666667,130831.159642,130646.266886,129101.301067,130830.0,132558.698933,75.172517,51.300635,184.892755,195.492049
83756,A328130,루닛,20230622,901,132300.0,132400.0,131000.0,131700.0,7170.0,131000.0,...,129968.333333,130964.827389,130724.321191,129122.339372,130815.0,132507.660628,77.045078,57.312684,240.506198,204.494878

In [116]:
# window_size = 60
# vnou_stock['ma_' + str(window_size)] = ta.SMA(np.asarray(vnou_stock['종가']), window_size)

In [117]:
# def add_macd(self, sort, long, sig):
#     print('MACD 구하기:%s, sort: %d, long: %d, sig: %d' %(time.ctime(time)))

In [118]:
# fastperiod = 12
# slowperiod = 26
# signalperiod = 9
# vnou_stock['macd_fast'], vnou_stock['macd_slow'], vnou_stock['macd_signal'] = ta.MACD(np.asarray(vnou_stock['종가']), fastperiod, slowperiod, signalperiod)

In [119]:
# window_size = 5
# vnou_stock['ma_' + str(window_size)] = vnou_stock['종가'].rolling(window=window_size).mean()

In [120]:
# ta.get_function_groups()

In [17]:
vnou_stock.to_csv('./루닛 지표추가.csv', encoding='cp949')

In [3]:
lunit = pd.read_csv('./루닛 지표추가.csv', encoding='cp949')

In [4]:
lunit

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,ma_5,...,ma_60,ema_12,ema_26,dn,mavg,up,pctB,rsi_14,macd,macdsignal
0,A328130,루닛,20220722,1530,40400,40400,40400,40400,4013435,40400,...,40555.83333,40379.16667,40582.69231,40108.00498,40510.0,40911.99502,100.508713,61.290323,110.261924,149.986808
1,A328130,루닛,20220722,1520,40300,40400,40200,40350,4013435,40400,...,40555.83333,40379.16667,40582.69231,40108.00498,40510.0,40911.99502,100.508713,61.290323,110.261924,149.986808
2,A328130,루닛,20220722,1519,40500,40500,40250,40300,4003198,40400,...,40555.83333,40379.16667,40582.69231,40108.00498,40510.0,40911.99502,100.508713,61.290323,110.261924,149.986808
3,A328130,루닛,20220722,1518,40450,40500,40400,40500,3994686,40400,...,40555.83333,40379.16667,40582.69231,40108.00498,40510.0,40911.99502,100.508713,61.290323,110.261924,149.986808
4,A328130,루닛,20220722,1517,40450,40450,40350,40450,3991932,40400,...,40555.83333,40379.16667,40582.69231,40108.00498,40510.0,40911.99502,100.508713,61.290323,110.261924,149.986808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83752,A328130,루닛,20230622,905,130400,131500,130400,131400,32336,131400,...,129883.33330,130945.64820,130646.98060,129180.37580,130910.0,132639.62420,75.328609,55.873847,298.667632,187.949773
83753,A328130,루닛,20230622,904,130600,131000,130300,130400,30630,131380,...,129895.00000,130861.70230,130628.68570,129132.07020,130870.0,132607.92980,74.667018,48.465717,233.016613,196.963141
83754,A328130,루닛,20230622,903,130900,132600,130600,130700,25175,131340,...,129915.00000,130836.82500,130633.96820,129113.91240,130850.0,132586.08760,74.827422,50.582548,202.856794,198.141872
83755,A328130,루닛,20230622,902,132000,132000,130300,130800,20406,131140,...,129931.66670,130831.15960,130646.26690,129101.30110,130830.0,132558.69890,75.172517,51.300635,184.892755,195.492049
83756,A328130,루닛,20230622,901,132300,132400,131000,131700,7170,131000,...,129968.33330,130964.82740,130724.32120,129122.33940,130815.0,132507.66060,77.045078,57.312684,240.506198,204.494878

In [7]:
lunit.rename(columns={'날짜':'date'}, inplace=True)
lunit.rename(columns={'시가':'open'}, inplace=True)
lunit.rename(columns={'고가':'high'}, inplace=True)
lunit.rename(columns={'저가':'low'}, inplace=True)
lunit.rename(columns={'종가':'close'}, inplace=True)
lunit.rename(columns={'거래량':'volume'}, inplace=True)

In [5]:
lunit.drop(['종목코드','종목명'], axis=1, inplace=True)

In [9]:
lunit.drop(['시간'], axis=1, inplace=True)

In [12]:
lunit.isnull().sum()

date          0
open          0
high          0
low           0
close         0
volume        0
ma_5          0
ma_20         0
ma_60         0
ema_12        0
ema_26        0
dn            0
mavg          0
up            0
pctB          0
rsi_14        0
macd          0
macdsignal    0
dtype: int64

In [ ]:
lunit.to_csv("루닛 지표 수정.csv", sep=",", index = False)

In [ ]:
import csv

# 입력 파일과 출력 파일의 경로 설정
input_file = 'input.csv'
output_file = 'output.csv'

# CSV 파일 읽기
with open(input_file, 'r') as csv_input:
    reader = csv.reader(csv_input)
    data = list(reader)

# 데이터 수정
for row in data:
    row[0] += ' ' + row[1]  # 1번 열에 2번 열의 내용을 추가
    del row[1]  # 2번 열 삭제

# 수정된 데이터 저장
with open(output_file, 'w', newline='') as csv_output:
    writer = csv.writer(csv_output)
    writer.writerows(data)

print("작업이 완료되었습니다. 결과는 output.csv 파일에 저장되었습니다.")

In [29]:
sam = pd.read_csv('../../../rltrader-3.0/data/v3/005930_삼성전자.csv')
sam

,date,open,high,low,close,volume,per,pbr,roe,open_lastclose_ratio,...,inst_ma20,inst_ma60,inst_ma120,foreign,foreign_diff,foreign_ma5,foreign_ma10,foreign_ma20,foreign_ma60,foreign_ma120
0,20180102,51380,51400,50780,51020,8474250,10.37,1.46,14.81,0.008242,...,0.085088,-0.023288,-0.001560,-0.106316,-0.148278,-0.016003,-0.096876,-0.111402,-0.044176,-0.056207
1,20180103,52540,52560,51420,51620,10013500,10.37,1.46,14.81,0.029792,...,0.069618,-0.025209,-0.003509,0.228487,0.334803,0.005438,-0.055945,-0.089089,-0.039823,-0.053366
2,20180104,52120,52180,50640,51080,11695450,10.37,1.46,14.81,0.009686,...,0.062662,-0.026677,-0.003529,0.113903,-0.114583,0.027599,-0.032266,-0.079667,-0.035540,-0.053479
3,20180105,51300,52120,51200,52120,9481150,10.37,1.46,14.81,0.004307,...,0.063531,-0.023616,-0.004184,0.050363,-0.063540,0.065680,-0.021230,-0.070953,-0.038575,-0.051488
4,20180108,52400,52520,51500,52020,8383650,10.37,1.46,14.81,0.005372,...,0.053663,-0.022748,-0.005281,0.054034,0.003671,0.068094,0.015452,-0.050790,-0.041766,-0.051637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,20211224,80200,80800,80200,80500,12086380,10.37,1.46,14.81,0.003755,...,0.016707,0.007822,-0.003685,0.035196,-0.083402,0.108434,0.101671,0.097499,0.008582,-0.025290
982,20211227,80600,80600,79800,80200,10783368,10.37,1.46,14.81,0.001242,...,0.015188,0.011295,-0.002051,0.008390,-0.026806,0.109338,0.102238,0.099562,0.008761,-0.023029
983,20211228,80200,80400,79700,80300,18226325,10.37,1.46,14.81,0.000000,...,0.038192,0.019710,0.000601,0.039748,0.031358,0.093129,0.094505,0.099648,0.010245,-0.022392
984,20211229,80200,80200,78500,78800,19794795,10.37,1.46,14.81,-0.001245,...,0.021889,0.013720,-0.002539,0.015036,-0.024713,0.043394,0.077724,0.086833,0.012595,-0.023153
985,20211230,78900,79500,78100,78300,14236700,10.37,1.46,14.81,0.001269,...,0.011723,0.010516,-0.002966,0.040314,0.025278,0.027737,0.077359,0.074475,0.014208,-0.022601

In [122]:
# !pip install pmdarima

In [123]:
# !pip install keras
# !pip install tensorflow

In [124]:
import pandas as pd
import numpy as np
from scipy.stats import kurtosis
from pmdarima import auto_arima
import pmdarima as pm
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
from keras.callbacks import EarlyStopping
import talib 
import json

In [125]:
# !pip install matplotlib
# !pip install pandasai
# !pip install seaborn
# !pip install pylabplot
# !pip install pylab helper
# ! pip install plotly
# ! pip install django

In [126]:
from datetime import datetime
import matplotlib.pyplot as plt
import pandasai as pdAI
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from django.utils import timezone

In [127]:
df = pd.read_csv('./vnou 주식 데이터_지표추가.csv')

In [128]:
df.columns

Index(['Unnamed: 0', '종목코드', '종목명', '날짜', '시간', '시가', '고가', '저가', '종가', '거래량',
       '거래대금', '누적체결매도수량', '누적체결매수수량', 'ma_5', 'ma_20', 'ma_60', 'ema_12',
       'ema_26', 'dn', 'mavg', 'up', 'pctB', 'rsi_14', 'macd', 'macdsignal'],
      dtype='object')

In [129]:
df.dtypes

Unnamed: 0      int64
종목코드           object
종목명            object
날짜              int64
시간              int64
시가            float64
고가            float64
저가            float64
종가            float64
거래량           float64
거래대금          float64
누적체결매도수량      float64
누적체결매수수량      float64
ma_5          float64
ma_20         float64
ma_60         float64
ema_12        float64
ema_26        float64
dn            float64
mavg          float64
up            float64
pctB          float64
rsi_14        float64
macd          float64
macdsignal    float64
dtype: object

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133953 entries, 0 to 133952
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  133953 non-null  int64
 1   종목코드        133953 non-null  object
 2   종목명         133953 non-null  object
 3   날짜          133953 non-null  int64
 4   시간          133953 non-null  int64
 5   시가          133953 non-null  float64
 6   고가          133953 non-null  float64
 7   저가          133953 non-null  float64
 8   종가          133953 non-null  float64
 9   거래량         133953 non-null  float64
 10  거래대금        133953 non-null  float64
 11  누적체결매도수량    133953 non-null  float64
 12  누적체결매수수량    133953 non-null  float64
 13  ma_5        133949 non-null  float64
 14  ma_20       133934 non-null  float64
 15  ma_60       133894 non-null  float64
 16  ema_12      133942 non-null  float64
 17  ema_26      133928 non-null  float64
 18  dn          133934 non-null  float64
 19  mavg        133934 non-null  float64
 20  up          133934 non-null  float64
 21  pctB        133934 non-null  float64
 22  rsi_14      133939 non-null  float64
 23  macd        133920 non-null  float64
 24  macdsignal  133920 non-null  float64
dtypes: float64(20), int64(3), object(2)
memory usage: 25.5+ MB

In [131]:
# df['날짜'] = pd.to_datetime(df['날짜'].dt.tz_localize())
# # df['시간'] = pd.to_datetime(df['시간'])
# df.dtypes

In [132]:
df.isnull().sum()

Unnamed: 0     0
종목코드           0
종목명            0
날짜             0
시간             0
시가             0
고가             0
저가             0
종가             0
거래량            0
거래대금           0
누적체결매도수량       0
누적체결매수수량       0
ma_5           4
ma_20         19
ma_60         59
ema_12        11
ema_26        25
dn            19
mavg          19
up            19
pctB          19
rsi_14        14
macd          33
macdsignal    33
dtype: int64

In [133]:
df.head()

,Unnamed: 0,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,...,ma_60,ema_12,ema_26,dn,mavg,up,pctB,rsi_14,macd,macdsignal
0,0,A338220,뷰노,20210617,901,21350.0,21350.0,21350.0,21350.0,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,A338220,뷰노,20210617,903,21350.0,21350.0,21350.0,21350.0,172.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,A338220,뷰노,20210617,904,21350.0,21350.0,21350.0,21350.0,453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,A338220,뷰노,20210617,906,21400.0,21400.0,21350.0,21350.0,505.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,A338220,뷰노,20210617,907,21350.0,21350.0,21350.0,21350.0,573.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
# df['ma_5']=df.ma_5.rolling(5,min_periods=1).mean()
# df

In [135]:
for stock in df.keys():
    data = '../모델링/셀바스AI 주식 데이터_지표추가.csv'
    df_all = pd.read_csv(data)
    fig = go.Figure(data=[go.Candlestick(x=df_all['날짜'],
                  open=df_all['시가'],
                  high=df_all['고가'],
                  low=df_all['저가'],
                  close=df_all['종가'])],
                  layout= go.Layout(title=go.layout.Title(text=vnou_stock[stock]))                        
                )
    fig.update_layout(xaxis_rangeslider_visible=False)
    fig.show()

KeyError: 'Unnamed: 0'

In [ ]:
# 실제랑 예측치 사이 백분위 
def mean_absolute_percentage_error(actual, prediction):
    actual = pd.Series(actual)
    prediction = pd.Series(prediction)
    # 퍼센트 계산
    return np.mean(np.abs((actual - prediction) / actual)) * 100

In [ ]:
# Arima aplication
def get_arima(data, train_len, test_len):
    # 트레이닝테이터/ 테스트데이터 준비
    data = data.tail(test_len + train_len).reset_index(drop=True)
    train = data.head(train_len).values.tolist()
    test = data.tail(train_len).values.tolist()
    
    # 모델 초기화 
    # max_p is the max value of AR and max_q is the max value of MA
    # train training data
    model = auto_arima(train, max_p=3, max_q=3, seasonal=False 
                       , error_action='ignore', suppress_warnings=True)
    
    # 모델 파라미터 설정 
    # fitting model - 가능성 가장 높은 것 추출 
    model.fit(train)
    order = model.get_param()['order']
    print('ARIMA order:', order, '\w')   
    
    # 예측 생성 
    prediction = []
    for i in range(len(test)):
        #testing ARIMA
        model = pm.ARIMA(order = order)
        model.fit(train)
        #printing the percentage     
        print('작동 시작', i+1, 'of', test_len, '--' + str(int(100 * (i+1)/ test_len)) + '% complete')
        prediction.append(model.predict(n_periods=1)[0])
        train.append(test[i])
    
    # 에러 데이터 생성
    # mean squarred error
    mse = mean_squared_error(test, prediction)
        # root mean squarred error
    rmse = mse ** 0.5
        #mean absolute percentage error
    mape = mean_absolute_percentage_error(pd.Series(test), pd.Series(prediction))
    return prediction, mse, rmse, mape

# LSTM aplication
def get_lstm(data, train_len, test_len, lstm_len=4):
    # 트레이닝테이터/ 테스트데이터 준비
    data = data.tail(test_len + train_len).reset_index(drop=True)
    # reshaping the high volatality dataset
    dataset = np.reshape(data.values, (len(data), 1))
    #transform features by scailing each feature to the given range
    scaler = MinMaxScaler(feature_range=(0, 1))
    # fitting model by maximum likehood
    dataset_scaled = scaler.fit_transform(dataset)
    # 학습 / 테스트 빈 리스트 
    x_train = []
    y_train = []
    x_test = []
    y_test = []
     # splitting up the train and test dataset and reshaping it
    for i in range(lstm_len, train_len):
        x_train.append(dataset_scaled[i - lstm_len:i, 0])
        y_train.append(dataset_scaled[i, 0])
    for i in range(train_len, len(dataset_scaled)):
        x_test.append(dataset_scaled[i - lstm_len:i, 0])

    x_train = np.array(x_train)
    y_train = np.array(y_train)
    x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))
    x_test = np.array(x_test)
    x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

    # Set up & fit LSTM RNN(3 layers)
    model = Sequential()
    model.add(LSTM(units=lstm_len, return_sequences=True, input_shape=(x_train.shape[1],1)))
    model.add(LSTM(units=int(lstm_len/2)))
    model.add(Dense(1, activation= 'sigmoid'))
    model.compile(loss='mean_squared_error', optimizer='nadam')
    early_stopping = EarlyStopping(monitor='loss', mode='min', verbose=1, patience=5)
    model.fit(x_train, y_train, epochs=50, batch_size=1, verbose=2, callback=[early_stopping])
    
    # 예측 생성
    prediction = model.predict(x_test)
    prediction = scaler.inverse_transform(prediction).tolist()
     #storing predictions
    output = []
    for i in range(len(prediction)):
        output.extend(prediction[i])
    prediction = output

    # 에러 데이터 생성
    # mean squarred error
    mse = mean_squared_error(data.tail(len(prediction)).values , prediction)
     # root mean squarred error
    rmse = mse ** 0.5
     #mean absolute percentage error
    mape = mean_absolute_percentage_error(pd.Series(data.tail(len(prediction)).reset.index(drop=True)), pd.Series(prediction))
    return prediction, mse, rmse, mape

In [ ]:
# path = './셀바스AI 주식 데이터.csv'
# data1 = pd.read_csv(path, header = None, encoding='euc-kr')
# data1.head()

/tmp/ipykernel_32315/3136939402.py:2: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv(path, header = None, encoding='euc-kr')

,0,1,2,3,4,5,6,7,8,9,10,11
0,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,거래대금,누적체결매도수량,누적체결매수수량
1,A108860,셀바스AI,20210617,901,4194.0,4194.0,4194.0,4194.0,0.0,438.0,0.0,0.0
2,A108860,셀바스AI,20210617,902,4199.0,4223.0,4194.0,4223.0,384.0,459.0,0.0,0.0
3,A108860,셀바스AI,20210617,903,4223.0,4242.0,4223.0,4242.0,584.0,635.0,0.0,0.0
4,A108860,셀바스AI,20210617,904,4242.0,4242.0,4242.0,4242.0,584.0,1435.0,0.0,0.0

In [ ]:
data1.drop([10,11], axis=1, inplace=True)

In [ ]:
data1.head()

,0,1,2,3,4,5,6,7,8,9
0,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,거래대금
1,A108860,셀바스AI,20210617,901,4194.0,4194.0,4194.0,4194.0,0.0,438.0
2,A108860,셀바스AI,20210617,902,4199.0,4223.0,4194.0,4223.0,384.0,459.0
3,A108860,셀바스AI,20210617,903,4223.0,4242.0,4223.0,4242.0,584.0,635.0
4,A108860,셀바스AI,20210617,904,4242.0,4242.0,4242.0,4242.0,584.0,1435.0

In [ ]:
path = './셀바스AI 주식 데이터.csv'
data1 = pd.read_csv(path, encoding='euc-kr')
# Changing column order to: ['종목명', 날짜', '시가', '고가', '저가', '종가', '거래량', '거래대금']
# new_col = [1, 2, 3, 4, 5, 6, 7, 8, 9]
data = data1.copy()
data

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,거래대금,누적체결매도수량,누적체결매수수량
0,A108860,셀바스AI,20210617,901,4194.0,4194.0,4194.0,4194.0,0.0,438.0,0.0,0.0
1,A108860,셀바스AI,20210617,902,4199.0,4223.0,4194.0,4223.0,384.0,459.0,0.0,0.0
2,A108860,셀바스AI,20210617,903,4223.0,4242.0,4223.0,4242.0,584.0,635.0,0.0,0.0
3,A108860,셀바스AI,20210617,904,4242.0,4242.0,4242.0,4242.0,584.0,1435.0,0.0,0.0
4,A108860,셀바스AI,20210617,905,4223.0,4223.0,4223.0,4223.0,2734.0,1435.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
162093,A108860,셀바스AI,20230627,1517,18460.0,18470.0,18450.0,18460.0,315119.0,152479.0,0.0,0.0
162094,A108860,셀바스AI,20230627,1518,18460.0,18470.0,18450.0,18450.0,315928.0,152484.0,0.0,0.0
162095,A108860,셀바스AI,20230627,1519,18470.0,18470.0,18460.0,18470.0,316073.0,152701.0,0.0,0.0
162096,A108860,셀바스AI,20230627,1520,18470.0,18470.0,18460.0,18460.0,316464.0,153019.0,0.0,0.0
162097,A108860,셀바스AI,20230627,1530,18460.0,18460.0,18460.0,18460.0,316464.0,160689.0,0.0,0.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162099 entries, 0 to 162098
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   1       162099 non-null  object
 1   2       162099 non-null  object
 2   4       162099 non-null  object
 3   5       162099 non-null  object
 4   6       162099 non-null  object
 5   7       162099 non-null  object
 6   8       162099 non-null  object
 7   9       162099 non-null  object
dtypes: object(8)
memory usage: 9.9+ MB

In [ ]:
from scipy.stats import kurtosis

In [138]:
if __name__ == "__main__":
   # Loading data
    path = './셀바스AI 주식 데이터.csv'
    data1 = pd.read_csv(path, encoding='euc-kr')
    # Changing column order to: ['종목명', 날짜', '시가', '고가', '저가', '종가', '거래량', '거래대금']
    # new_col = [1, 2, 3, 4, 5, 6, 7, 8, 9]
    data = data1.copy()

    # 이동평균선 계산 - TA-Lib
    talib_moving_average = ['wma_5', 'wma_20', 'rsi', 'lower', 'mavg', 'upper', 'pctB', 'aroonup', 'aroondn']
    for i in talib_moving_average:
        if i == 'wma_5':
            data[i] = ta.WMA(np.asarray(data['종가'], dtype=float), timeperiod=5)
        elif i == 'wma_20':
            data[i] = ta.WMA(np.asarray(data['종가'], dtype=float), timeperiod=20)
        elif i == 'rsi':
            data[i] = ta.RSI(np.asarray(data['종가'], dtype=float), timeperiod=14)
        elif i == 'lower' or i == 'upper' or i == 'mavg':
            _, _, data[i] = ta.BBANDS(np.asarray(data['종가'],dtype=float), timeperiod=5, nbdevup=2, nbdevdn=2, matype=0)
        elif i == 'pctB':
            _, _, data[i] = ta.BBANDS(np.asarray(data['종가'],dtype=float), timeperiod=5, nbdevup=2, nbdevdn=2, matype=0)
        elif i == 'aroonup' or i == 'aroondn':
            data[i], _ = ta.AROON(np.asarray(data['고가'],dtype=float), np.asarray(data['저가'], dtype=float), timeperiod=14)
        
l = len(talib_moving_average)
# Determine kurtosis 'K' values for MA period 4-99
kurtosis_results = {'period': []}


for i in range(4, 100):
    kurtosis_results['period'].append(i)
    # max_length = max(len(data[talib_moving_average]) for talib_moving_average in talib_moving_average)
    
    for ma in talib_moving_average:
        if ma not in kurtosis_results:
            kurtosis_results[ma] = []

        ma_output = data[ma]
        max_length = len(ma_output)

        # Trimming ma_output for the specific period
        trimmed_ma_output = ma_output[-i:]

        # Determine kurtosis 'K' values
        K = kurtosis(trimmed_ma_output, fisher=False)

        # Add to dictionary
        kurtosis_results[ma].append(K)
        
# Ensuring all kurtosis_results lists have the same length
max_kurtosis_list_length = max(len(kurtosis_list) for kurtosis_list in kurtosis_results.values())
for kurtosis_list in kurtosis_results.values():
    if len(kurtosis_list) < max_kurtosis_list_length:
        kurtosis_list.extend([np.nan] * (max_kurtosis_list_length - len(kurtosis_list)))
        
kurtosis_results = pd.DataFrame(kurtosis_results)
# print(kurtosis_results)

# Determine period with K closest to 3 +/- 5% (mesokurtic) 
# Ordering the time period for the mesokurtic MA's in optimized_period
optimized_period = {}
for ma in range(i):
    difference = np.abs(kurtosis_results[ma] - 3)
    df = pd.DataFrame({'difference': difference, 'period': kurtosis_results['period']})
    df = df.sort_values(by=['difference'], ascending=True).reset_index(drop=True)

    # ordering and considering only mesokurtic time periods from kurtosis_results
    if df.at[0, 'difference'] < 3 * 0.05:
        optimized_period[ma] = df.at[0, 'period']
    else:
        print(str(ma) + ' is not viable, best K greater or less than 3 +/- 5%')

print('\nOptimized periods:', optimized_period)

simulation = {}
for ma in optimized_period:
    # Split data into low volatility and high volatility time series for ARIMA and LSTM based on MA type
    if ma == 0:
        low_vol = talib.WMA(data[4], optimized_period[ma])  # WMA
        high_vol = data[4] - low_vol
    elif ma == 1:
        low_vol = talib.WMA(data[4], optimized_period[ma])  # WMA
        high_vol = data[4] - low_vol
    elif ma == 2:
        low_vol = talib.RSI(data[4], optimized_period[ma])  # RSI
        high_vol = data[4] - low_vol
    elif ma == 3:
        low_vol = talib.BBANDS(data[4], optimized_period[ma])[0]  # LOWER BBAND
        high_vol = data[4] - low_vol
    elif ma == 4:
        low_vol = talib.BBANDS(data[4], optimized_period[ma])[1]  # MIDDLE BBAND
        high_vol = data[4] - low_vol
    elif ma == 5:
        low_vol = talib.BBANDS(data[4], optimized_period[ma])[2]  # UPPER BBAND
        high_vol = data[4] - low_vol
    elif ma == 6:
        low_vol = talib.BBANDS(data[4], optimized_period[ma])[3]  # %B
        high_vol = data[4] - low_vol
    elif ma == 7:
        low_vol = talib.AROON(data[4], optimized_period[ma])[0]  # AROON UP
        high_vol = data[4] - low_vol
    elif ma == 8:
        low_vol = talib.AROON(data[4], optimized_period[ma])[1]  # AROON DN
        high_vol = data[4] - low_vol

    # Generate ARIMA and LSTM predictions
    print('\nWorking on ' + str(ma) + ' predictions')
    # compatibility of MA in ARIMA for dataset by calling ARIMA 
    try:
        low_vol_prediction, low_vol_mse, low_vol_rmse, low_vol_mape = get_arima(low_vol, 1000, 252)
    except:
        print('ARIMA error, skipping to next MA type')
        continue
    # calling LSTM with high volatility parameters
    high_vol_prediction, high_vol_mse, high_vol_rmse, high_vol_mape = get_lstm(high_vol, 1000, 252)

    # calculating mse, rmse and mape to differentiate predictions and original
    final_prediction = pd.Series(low_vol_prediction) + pd.Series(high_vol_prediction)
    mse = mean_squared_error(final_prediction.values, data[4].tail(252).values)
    rmse = mse ** 0.5
    mape = mean_absolute_percentage_error(data[4].tail(252).reset_index(drop=True), final_prediction)

    # Generate prediction accuracy
    actual = data[4].tail(252).values
    result_1 = []
    result_2 = []
    for i in range(1, len(final_prediction)):
        # Compare prediction to previous close price
        if final_prediction[i] > actual[i - 1] and actual[i] > actual[i - 1]:
            result_1.append(1)
        elif final_prediction[i] < actual[i - 1] and actual[i] < actual[i - 1]:
            result_1.append(1)
        else:
            result_1.append(0)

        # Compare prediction to previous prediction
        if final_prediction[i] > final_prediction[i - 1] and actual[i] > actual[i - 1]:
            result_2.append(1)
        elif final_prediction[i] < final_prediction[i - 1] and actual[i] < actual[i - 1]:
            result_2.append(1)
        else:
            result_2.append(0)

    accuracy_1 = np.mean(result_1)
    accuracy_2 = np.mean(result_2)
    # storing predicted and the actual value
    simulation[ma] = {'low_vol': {'prediction': low_vol_prediction, 'mse': low_vol_mse,
                                  'rmse': low_vol_rmse, 'mape': low_vol_mape},
                      'high_vol': {'prediction': high_vol_prediction, 'mse': high_vol_mse,
                                   'rmse': high_vol_rmse},
                      'final': {'prediction': final_prediction.values.tolist(), 'mse': mse,
                                'rmse': rmse, 'mape': mape},
                      'accuracy': {'prediction vs close': accuracy_1, 'prediction vs prediction': accuracy_2}}

    # save simulation data here as checkpoint
    with open('drive/My Drive/data/results/simulation_data.json', 'w') as fp:
        json.dump(simulation, fp)

KeyError: 0

In [ ]:
print(data.head())
print(data.columns)

      종목코드    종목명        날짜   시간      시가      고가      저가      종가     거래량  \
0  A108860  셀바스AI  20210617  901  4194.0  4194.0  4194.0  4194.0     0.0
1  A108860  셀바스AI  20210617  902  4199.0  4223.0  4194.0  4223.0   384.0
2  A108860  셀바스AI  20210617  903  4223.0  4242.0  4223.0  4242.0   584.0
3  A108860  셀바스AI  20210617  904  4242.0  4242.0  4242.0  4242.0   584.0
4  A108860  셀바스AI  20210617  905  4223.0  4223.0  4223.0  4223.0  2734.0

     거래대금  누적체결매도수량  누적체결매수수량
0   438.0       0.0       0.0
1   459.0       0.0       0.0
2   635.0       0.0       0.0
3  1435.0       0.0       0.0
4  1435.0       0.0       0.0
Index(['종목코드', '종목명', '날짜', '시간', '시가', '고가', '저가', '종가', '거래량', '거래대금',
       '누적체결매도수량', '누적체결매수수량'],
      dtype='object')